@charset "UTF-8";
/* === Variables === */
:root {
  --text-main: 'Roboto', sans-serif;
  --text-bold: 500;
  --text-normal: 400;
  --border-radius: 5px;
  --text-big-letters: uppercase;
  --text-starts-from-big-letter: capitalize;
  --main-text-size: 12px;
  --logo-text-size-and-modal-header: 30px;
  --secondary-active-color: #ff6b08;
  --main-active-color: #ff6b01;
  --main-white-color: #ffffff;
  --background-transparent-color: transparent;
  --main-black-color: #000000;
  --for-pagination-footer-votes-background-color: #f7f7f7;
  --search-and-footer-mobile-text-size: 14px;
  --header-logo-svg-fill: #818181;
  --header-search-unsuccessful-color: #ff001b;
  --modal-backdrop-color: rgba(0, 0, 0, 0.25);
  --modal-category-and-slash-color: #8c8c8c;
  --footer-text-size-pc-tablet: 16px;
  --footer-text-color: #545454;
}

/* === Common styles === */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-style: normal;
  font-family: var(--text-main);
  color: var(--color-design-main);
  font-weight: var(--text-bold);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  display: block;
  text-decoration: none;
}

/* === Is-hidden style === */
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* === Container styles === */
.container {
  min-width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-right: 76px;
    padding-left: 76px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding-right: 71px;
    padding-left: 71px;
  }
}

/* === Visually hidden === */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* === Layout === */
/* === Header section styles === */
/* === Header library section styles === */
/* === Footer section styles === */
.footer-container {
  background-color: var(--for-pagination-footer-votes-background-color);
  padding-top: 29px;
  padding-bottom: 30px;
  font-size: 14px;
  font-weight: var(--text-normal);
  line-height: 16px;
  color: var(--footer-text-color);
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 10px;
  margin-right: 10px;
  height: 14px;
  width: 16px;
  fill: var(--secondary-active-color);
}

.footer-rights-information {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
}

.footer-about-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.link-footer {
  position: relative;
  color: var(--footer-text-color);
  margin-left: 5px;
}

.link-footer:hover,
.link-footer:focus {
  font-weight: var(--text-bold);
  margin-left: 4px;
}

.footer-copyright,
.footer-year {
  margin-right: 6px;
}

.footer-rights-text {
  margin-left: 6px;
  margin-right: 6px;
}

.footer-rights-text::after {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 1px;
  background-color: var(--footer-text-color);
  opacity: 0.4;
}

.footer-rights-text::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 1px;
  background-color: var(--footer-text-color);
  opacity: 0.4;
}

.link-footer::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 1px;
  width: 100%;
  background-color: var(--footer-text-color);
  opacity: 0.4;
}

@media screen and (min-width: 320px) {
  .footer-about-information {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    padding-top: 30px;
    padding-bottom: 28px;
  }
  .footer-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-rights-information {
    margin-bottom: 0px;
  }
  .footer-about-information {
    margin-left: 6px;
  }
  .footer-container {
    font-size: 16px;
    line-height: 19px;
  }
}

/* === Gallery section styles === */
.movie-gallery {
  padding-top: 20px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .movie-gallery {
    padding-top: 60px;
    padding-bottom: 50px;
  }
}

.gallery-list {
  margin-left: -30px;
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .gallery-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 30px;
  }
}

.gallery-items {
  -ms-flex-preferred-size: calc(100% / 1 - 30px);
      flex-basis: calc(100% / 1 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  background-color: #fff;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .gallery-items {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    width: 294px;
  }
}

@media screen and (min-width: 1024px) {
  .gallery-items {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
    width: 274px;
  }
}

/* === Modal styles === */
.modal {
  position: absolute;
  width: 280px;
  height: 958px;
  max-height: 95vh;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: auto;
  padding: 48px 20px 40px 20px;
  background-color: var(--main-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 618px;
    height: 562px;
    padding: 40px 30px;
  }
}

@media screen and (min-width: 1024px) {
  .modal {
    width: 882px;
    height: 568px;
    padding: 50px 30px 40px 30px;
  }
}

/* === Gallery movie styles === */
.moviе-item__img {
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}

.moviе-stats__title {
  font-weight: var(--text-bold);
  font-size: 12px;
  line-height: 1.667;
  text-transform: uppercase;
  color: var(--main-black-color);
}

.moviе-stats__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.moviе-genre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: var(--text-bold);
  font-size: 12px;
  line-height: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  margin-right: 8px;
  color: var(--secondary-active-color);
}

.moviе-genre__item {
  margin-right: 5px;
}

.moviе-genre::after {
  content: '';
  position: absolute;
  top: 0px;
  right: -3px;
  height: 100%;
  width: 2px;
  background-color: var(--secondary-active-color);
  opacity: 0.4;
}

.moviе-year {
  font-weight: var(--text-bold);
  font-size: 12px;
  line-height: 16px;
  margin-right: 8px;
  color: var(--secondary-active-color);
}

.moviе-vote {
  font-weight: var(--text-bold);
  font-size: 12px;
  line-height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  color: var(--main-white-color);
  background-color: var(--main-active-color);
  padding: 0 10px;
}

/* === Components === */
/* === backdrop styles === */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--modal-backdrop-color);
  opacity: 1;
  z-index: 4;
  -webkit-transition: opacity 250ms linear, visibility 250ms linear;
  transition: opacity 250ms linear, visibility 250ms linear;
}

/* === Modal close button style === */
.modal-close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-bottom: 8px;
  padding: 0;
  border-color: var(--background-transparent-color);
  border-radius: 50%;
  background-color: var(--main-white-color);
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

@media screen and (min-width: 768px) {
  .modal-close-btn {
    margin-bottom: 2px;
  }
}

@media screen and (min-width: 1064px) {
  .modal-close-btn {
    margin-bottom: 10px;
  }
}

.modal-close-btn:hover, .modal-close-btn:focus {
  background-color: var(--main-active-color);
}

.modal-close-btn__icon {
  fill: var(--main-black-color);
  -webkit-transition: fill 250ms linear;
  transition: fill 250ms linear;
}

.modal-close-btn:hover .modal-close-btn__icon,
.modal-close-btn:focus .modal-close-btn__icon {
  fill: var(--main-white-color);
}

.footer-container {
  background-color: var(--for-pagination-footer-votes-background-color);
  padding-top: 29px;
  padding-bottom: 30px;
  font-size: 14px;
  font-weight: var(--text-normal);
  line-height: 16px;
  color: var(--footer-text-color);
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 10px;
  margin-right: 10px;
  height: 14px;
  width: 16px;
  fill: var(--secondary-active-color);
}

.footer-rights-information {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
}

.footer-about-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.link-footer {
  position: relative;
  color: var(--footer-text-color);
  margin-left: 5px;
}

.link-footer:hover,
.link-footer:focus {
  font-weight: var(--text-bold);
  margin-left: 4px;
}

.footer-copyright,
.footer-year {
  margin-right: 6px;
}

.footer-rights-text {
  margin-left: 6px;
  margin-right: 6px;
}

.footer-rights-text::after {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 1px;
  background-color: var(--footer-text-color);
  opacity: 0.4;
}

.footer-rights-text::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 1px;
  background-color: var(--footer-text-color);
  opacity: 0.4;
}

.link-footer::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 1px;
  width: 100%;
  background-color: var(--footer-text-color);
  opacity: 0.4;
}

@media screen and (min-width: 320px) {
  .footer-about-information {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    padding-top: 30px;
    padding-bottom: 28px;
  }
  .footer-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-rights-information {
    margin-bottom: 0px;
  }
  .footer-about-information {
    margin-left: 6px;
  }
  .footer-container {
    font-size: 16px;
    line-height: 19px;
  }
}
/*# sourceMappingURL=main.css.map */