{{!--<div class="container"
 <ul class="gallery-list list">
       <li class="gallery-items"></li>
       <li class="gallery-items"></li>
       <li class="gallery-items"></li>
       <li class="gallery-items"></li>
       <li class="gallery-items"></li>
       <li class="gallery-items"></li>
       <li class="gallery-items"></li>
       <li class="gallery-items"></li>
       <li class="gallery-items"></li>
       <li class="gallery-items"></li>
       <li class="gallery-items"></li>
       <li class="gallery-items"></li>
</ul> 
</div>
 --}}