<!-- <header class="header">
    <div class="container">
        <nav class="header-nav">
            <div class="">
                <a class="logo link" href="">
                    <img src="" alt="">
                    <span class="logo-text">Filmoteka</span>
                </a>
                <ul class="navigation-menu-list list">
                    <li class="navigation-list-link">
                        <a class="link navigation-menu-link" href="">Home</a>
                    </li>
                    <li class="navigation-list-link">
                        <a class="link navigation-menu-link current" href="">My library</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="buttons is-hidden">
            <button class="btn_watched">Watched</button>
            <button class="btn_queue">Queue</button>
        </div>
    </div> -->