<div class="overlay visually-hidden">
  <div class="modal-wrapper">
    <div class="wrapper-img">
      <img class="img-modal" src="./images/demo.jpg" alt="cover film" />
    </div>
    <div class="modal-right-part">
      <h2 class="modal-main-title">A FISTFUL OF LEAD</h2>
      <div class="modal-lists-wrapper">
        <ul class="modal-list-denominations list">
          <li class="modal-item-position">Vote<span class="modal-item-span">/</span>Votes</li>
          <li class="modal-item-position">Popularity</li>
          <li class="modal-item-position">Original Title</li>
          <li class="modal-item-position">Genre</li>
        </ul>
        <ul class="modal-list-descriptions list">
          <li class="modal-item-description item-flex">
            <p class="modal-item-description-rating">7.3</p>
            <span class="modal-item-span">/</span>
            <p class="modal-item-description-views">1260</p>
          </li>
          <li class="modal-item-description">100.2</li>
          <li class="modal-item-description">A FISTFUL OF LEAD</li>
          <li class="modal-item-description">Western</li>
        </ul>
      </div>
      <h3 class="modal-secondary-title">About</h3>
      <p class="modal-film-description">
        Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the
        most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and
        the other three escapes with bags of gold hide out in the abandoned gold mine where they
        happen across another gang of three – who themselves were planning to hit the very same
        bank! As tensions rise, things go from bad to worse as they realise the bags of gold are
        filled with lead... they’ve been double crossed – but by who and how?
      </p>
      <div class="modal-wrapper-btn">
        <button
          class="modal-btn modal-btn-hidden modal-btn-remove-watched js-modal-btn-remove-watched"
          type="button"
        >
          remove from Watched
        </button>
        <button
          class="visually-hidden modal-btn modal-btn-watched js-modal-btn-watched"
          type="button"
        >
          add to Watched
        </button>
        <button class="modal-btn modal-btn-queue js-modal-btn-queue" type="button">
          add to queue
        </button>
        <button
          class="
            visually-hidden
            modal-btn modal-btn-hidden modal-btn-remove-queue
            js-modal-btn-remove-queue
          "
          type="button"
        >
          remove from queue
        </button>
      </div>
    </div>
  </div>
</div>
