.footer-container {
  background-color: #f7f7f7;
  padding-top: 29px;
  padding-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
  color: #545454;
}
.footer-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer-icon {
  align-self: center;
  margin-left: 10px;
  margin-right: 10px;
  height: 14px;
  width: 16px;
  height: auto;
}
.footer-rights-information {
  position: relative;
  display: flex;
  margin-bottom: 10px;
}
.footer-about-information {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.link-footer {
  position: relative;
  color: #545454;
  margin-left: 5px;
}
.footer-copyright,
.footer-year {
  margin-right: 6px;
}
.footer-rights-text {
  margin-left: 6px;
  margin-right: 6px;
}
.footer-rights-text::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 190px;

  height: 14px;
  width: 1px;

  background-color: #545454;
}
.footer-year ::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 56px;

  height: 14px;
  width: 1px;

  background-color: #545454;
}
.link-footer::after {
  content: '';
  position: absolute;
  top: 15px;
  left: 0px;

  height: 1px;
  width: 90px;

  background-color: #545454;
}

@media screen and (min-width: 320px) {
  .footer-about-information {
    flex-direction: row;
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    padding-top: 30px;
    padding-bottom: 28px;
  }

  .container {
    width: 768px;
    padding: 0 34px;
  }
  .footer-content {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .footer-rights-information {
    margin-bottom: 0px;
  }
  .footer-about-information {
    margin-left: 10px;
  }
  .footer-container {
    font-size: 16px;
    line-height: 19px;
  }
  .footer-rights-text::after {
    top: 2px;
    left: 214px;
    height: 16px;
  }
  .footer-year ::after {
    top: 2px;
    left: 64px;
    height: 16px;
  }
  .link-footer::after {
    top: 16px;
    width: 100px;
  }
}
