p {
  margin: 0;
}

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  height: 95%;
  width: 100%;
  max-width: 280px;
  max-height: 958px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 41px;
  padding-top: 48px;
  background: rgb(236, 193, 236);
  overflow: scroll;
}

@media screen and (min-width: 480px) {
  .modal-wrapper {
    max-width: 562px;
    max-height: 618px;
    padding-left: 28px;
    padding-right: 30px;
    padding-bottom: 7px;
    padding-top: 75px;
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .modal-wrapper {
    min-width: 882px;
    min-height: 568px;
    padding-top: 50px;
    padding-bottom: 40px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (min-width: 480px) {
  .modal-right-part {
    padding-left: 30px;
    box-sizing: border-box;
  }
}

.img-modal {
  width: 240px;
  height: 356px;
  left: 101px;
  top: 150px;
  border-radius: 5px;
}
@media screen and (min-width: 480px) {
  .img-modal {
    width: 264px;
    height: 373px;
  }
}
@media screen and (min-width: 768px) {
  .img-modal {
    width: 396px;
    height: 478px;
  }
}

.modal-main-title {
  width: 266px;
  height: 21px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 20px;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .modal-main-title {
    height: 31px;
    font-size: 30px;
    line-height: 35px;
  }
}

.modal-secondary-title {
  width: 39px;
  height: 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 10px;
}

.modal-film-description {
  // height: 240px;
  width: 236px;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
}

@media screen and (min-width: 480px) {
  .modal-film-description {
    // height: 264px;
    width: 262px;
  }
}
@media screen and (min-width: 768px) {
  .modal-film-description {
    width: 396px;
  }
}

////// списки с информацией: рейтинг, просмотры итд... //////
.modal-lists-wrapper {
  display: flex;
  margin-bottom: 20px;
}

.modal-list-denominations {
  margin-right: 39px;
}
@media screen and (min-width: 768px) {
  .modal-list-denominations {
    margin-right: 83px;
  }
}

.modal-item-position {
  height: 16px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #8c8c8c;
}
.modal-item-position:not(:last-child) {
  margin-bottom: 10px;
}

.modal-list-denominations {
  height: 16px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}

.modal-item-description:not(:last-child) {
  margin-bottom: 10px;
}

.modal-item-description-rating {
  line-height: 14px;
  padding-top: 1px;
  padding-bottom: 1px;
  width: 36px;
  background: #ff6b01;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.modal-item-description-views {
  line-height: 14px;
  padding-top: 1px;
  padding-bottom: 1px;
  width: 36px;
  text-align: center;
  background: #f7f7f7;
  border-radius: 5px;
  text-transform: uppercase;
}
.modal-item-span {
  margin-left: 3px;
  margin-right: 3px;
}

.item-flex {
  display: flex;
}

//////btn////
.modal-wrapper-btn {
  margin-top: 21px;
  display: flex;
}

.modal-btn {
  box-sizing: border-box;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  width: 113px;
  height: 44px;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
}
@media screen and (min-width: 480px) {
  .modal-btn {
    width: 125px;
    padding-top: 14px;
    padding-bottom: 12px;
  }
}
@media screen and (min-width: 768px) {
  .modal-btn {
    width: 136px;
  }
}

.modal-btn-watched {
  background: #ff6b01;
  margin-right: 15px;
}

.modal-btn-queue {
  color: #000000;
  background-color: #fff;
  border: 1px solid #000000;
}
